<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>iFetch</string>
    <key>CFBundleExecutable</key>
    <string>IFetchModule</string>
    <key>CFBundleIdentifier</key>
    <string>com.wee1ka.ifetch.ccmodule</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>iFetch</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.1</string>
    <key>CFBundleVersion</key>
    <string>301</string>
    <key>NSPrincipalClass</key>
    <string>IFetchModule</string>
</dict>
</plist>
